<?xml version='1.0'?>

<!-- WEB SERVER META DATA -->
<webserver
    title="Another Excellent Webserver"
    date="March 2018"
    author="Oh Am I"
>

<!-- DEFAULT DOCUMENTS -->
<!-- macOS style -->
<context defaultDocument = "/Users/zachyoung/Desktop/net/Homework/webserver/echoserver/webserver/index.html"></context> 

<!-- DOCUMENT ROOT -->
<!-- Windows style -->
<context documentRoot = "/Users/zachyoung/Desktop/net/Homework/webserver/echoserver/webserver/"></context>

<!-- LOG FILE -->
<!-- macOS / Linux style -->
<logfile log = "./logs/log.txt"></logfile> 

<!-- 404 FILE -->
<!-- macOS / Linux style -->
<context fourohfour = "/Users/zachyoung/Desktop/net/Homework/webserver/echoserver/webserver/404.html"></context> 

</webserver>
